body {
    font-family: 'Noto Sans', sans-serif;
}

.body {
    background-image: radial-gradient(
        ellipse 90% 85% at 50% 10%, white, white, hsl(0, 0%, 40%));
    background-repeat: no-repeat;
    height: 100vh;
}

#title {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#head {
    font-size: clamp(3rem, 2.273rem + 3.64vw, 5rem);
    font-family: "Bitcount Prop Single", sans-serif;
    font-weight: 500;
    color: hsl(0, 0%, 100%);
    text-shadow: 0 6px 8px#000;
    margin: 0;
}

#head2 {
    color: hsl(0, 0%, 30%);
    text-align: center;
    margin: 2rem 0;
    opacity: 0;
    animation: hfade 2s infinite forwards;
}

@keyframes hfade {
    0% {opacity: 1;}
    100% {opacity: 0;}
}

.game-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.game-container button {
    font-size: 6rem;
    background-color: transparent;
    border: none;
    text-shadow: 0px 4px 6px hsl(0, 0%, 10%);
    cursor: pointer;
}

.game-container button:hover {
    transform: scale(1.1) translateY(-5px);
    transition: all ease-in-out 0.5s;
    text-shadow: 0px 8px 8px hsl(0, 0%, 5%);
}

#add {
    color: hsl(84, 100%, 60%);
}

#sub {
    color: hsl(0, 100%, 60%);
}

#multi {
    color: hsl(216, 100%, 60%);
}

#divide {
    color: hsl(312, 98%, 50%);
}

#ran {
    color: hsl(60, 100%, 60%);
}


.hide {
    display: none!important;
}

#restart {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 1.2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

#score {
    padding: 0 0.25rem;
    background-color: white;
    border: 1px solid black;
    border-radius: 2px;
}

h4 {
    position: absolute;
    top: 10px;
    left: 10px;
    margin: 0;
}

.top {
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#time {
    font-size: 3rem;
    font-style: italic;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.container span {
    font-size: clamp(1rem, -0.091rem + 5.45vw, 4rem);
    margin: 0 5px;
}

#operand1,
#operand2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(3.125rem, 2.083rem + 5.56vw, 6.25rem);
    height: clamp(3.125rem, 2.083rem + 5.56vw, 6.25rem);
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    text-align: center;
    font-family: "Stack Sans Text", sans-serif;
}

#input {
    width: clamp(3.125rem, 2.083rem + 5.56vw, 6.25rem);
    height: clamp(3.125rem, 2.083rem + 5.56vw, 6.25rem);
    border-radius: 5px;
    font-size: clamp(1rem, -0.455rem + 7.27vw, 5rem);
    font-family: "Stack Sans Text", sans-serif;
    text-align: center;
    border: 2px solid black;
    margin: 0 5px;
}

.keypad-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}

.keypad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.keypad button {
    padding: 0.25rem 0.5rem;
    font-size: 1.5rem;
    font-weight: 700    ;
    border-radius: 100px;
    border: none;
    cursor: pointer;
}

.keypad button:hover {
    background-color: hsl(0, 0%, 75%);
}

.keypad button.active {
    background-color: hsl(0, 0%, 15%);
    color: hsl(0, 0%, 100%);
}

.fa-check {
    color: rgb(0, 182, 0);
}

.fa-delete-left {
    color: rgb(139, 0, 0);
}